@font-face {
  font-family: 'GTWalsheimPro';
  src: url('../fonts/GTWalsheimProRegular.woff2') format('woff2'),
    url('../fonts/GTWalsheimProRegular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  color: #101b30;
  font: normal 16px / 1.625 'GTWalsheimPro', 'Helvetica Neue Light',
    'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}

.login {
  display: flex;
  justify-content: center;
  background-color: #101b30;
}

.message,
#login_error {
  color: #101b30;
  font-weight: 600;
}

.login #login {
  padding: 0;
  width: 370px;
}

.login #login h1 a {
  background-image: url('../img/logo-full.svg');
  height: 150px;
  width: 200px;
  background-size: 200px auto;
  background-repeat: no-repeat;
}

.login #login #loginform,
#lostpasswordform {
  background-color: transparent;
  border-radius: 0;
  border: none;
  box-shadow: none;
}

.login #login #loginform input {
  font-family: inherit;
  outline: none;
  box-shadow: none;
}

.login #login #loginform input:not(#wp-submit):focus {
  outline: none;
  /* border: 2px solid #101b30; */
  box-shadow: none;
}

#loginform input[type='text'],
#loginform input[type='password'],
#lostpasswordform input[type='text'],
#lostpasswordform input[type='password'] {
  padding: 14px 0;
  width: 100%;
  color: #000;
  font-family: inherit;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.38;
  border-radius: 0;
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  background-color: transparent;
}

.login #login input#wp-submit {
  position: relative;
  padding: 0;
  display: block;
  height: auto;
  min-height: 0;
  color: #101b30;
  font-size: 16px;
  line-height: 1.4;
  font-weight: 400;
  border: none;
  border-radius: 0;
  text-shadow: none;
  background-color: transparent;
  background-image: linear-gradient(to right, #101b30, #101b30);
  background-size: 0 2px;
  background-position: bottom left;
  background-repeat: no-repeat;
  transition: 0.3s ease-in;
  cursor: pointer;
}

.login #login input#wp-submit:hover,
.login #login input#wp-submit:focus {
  background-size: 100% 2px;
}

.login #login p#nav {
  margin-top: 0;
  float: right;
  margin: 0;
}

.login #login p#backtoblog {
  margin-top: 0;
  margin-bottom: 0;
}

.login #login p#nav a,
.login #login p#backtoblog a {
  color: #e8e8e8;
}

.login #login p#nav a:hover,
.login #login p#nav a:focus,
.login #login p#backtoblog a:hover,
.login #login p#backtoblog a:focus {
  text-decoration: underline;
}

.forgetmenot input {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
.forgetmenot label {
  position: relative;
  padding-left: 25px;
  display: inline-block;
}

.forgetmenot label::before {
  position: absolute;
  left: 0;
  top: 50%;
  width: 16px;
  height: 16px;
  border: 1px solid #fff;
  transform: translateY(-50%);
  content: '';
}

.forgetmenot label::after {
  position: absolute;
  left: 4px;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #fff;
  transform: translateY(-50%);
  opacity: 0;
  content: '';
}

.forgetmenot input:checked + label::after {
  opacity: 1;
}
