.portfolio-hero{  
  margin-top: 0px;

  &__inner{
    position: relative;
    display: flex;
    flex-direction: column-reverse;    
    position: relative;

    @include respond-to(lg){
      flex-direction: row;
      height: 100%;
    }
  }

  &__left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 20px;
    padding-top: 39px;
    padding-bottom: 0px;
    transition: 0.8s;
    background-color: #d5ff2e00;
    position: relative;

    @include respond-to(lg){
      width: 50%;
      padding-bottom: 53px;
      padding-left: 40px;
      height: 100%;
      width: calc((100vw) - (100vh - 130px));
      height: calc(100vh - 71px);
      max-height: 50vw;
    }

    h1{
      text-transform: uppercase;
      line-height: 32px ;

      @include respond-to(lg){
        max-width: 450px;     
        line-height: 38px ;  
      }
    }
  }

  &__right{
    height: 60vw;
    position: relative;

    @include respond-to(lg){
      height: auto;
      position: relative;
      width: calc(134vh);
      margin-right: 40px;
      max-height: 50vw;
    }
  }

  &__right-top{
    height: 50vw;
    width: 100%;
    display: flex;
    position: absolute;
    top: 0;
    overflow: hidden;
    width: calc(100% - 98px);
    margin-left: 78px;

    @include respond-to(lg){
      width: 100%;
      margin-left: 0px;
      height: 38vw;
    }

    img{
      width: 85%;
      object-fit: cover;
      transform: scale(1.15) translateX(0px);  
      animation: imageMovePortfolio 20s infinite linear;
      animation-direction: alternate;
      animation-delay: 0s;
      transition: 0.4s;

      @include respond-to(lg){
        animation: imageMovePortfolioDesktop 8s infinite linear;
      }
    }
  }

  &__right-top-text-wrap{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    z-index: 1;
  }

  &__right-bottom{
    height: 27vw;
    display: flex;
    position: absolute;
    bottom: -1px;
    z-index: 9;
    overflow: hidden;
    width: calc(100% - 98px);
    margin-left: 78px;

    @include respond-to(lg){
      width: 100%;
      margin-left: 0px;
      height: 19vw;
    }

    img{    
      object-fit: cover;
      transform: scale(1.15) translateX(0px);  
      animation: imageMovePortfolio 12s infinite linear;
      animation-direction: alternate;
      height: 100%;
      animation-delay: -10s;
      transition: 0.4s;

      @include respond-to(lg){
        animation: imageMovePortfolioDesktop 8s infinite linear;
        animation-delay: -4s;
      }

    }
  }

  &__right-bottom-image-wrap{
    width: 85%;
    overflow: hidden;
    clip-path: polygon(0 39%,105% 0,100% 100%,0 100%);
  }

  &__right-bottom-text-wrap{
    width: 15%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    clip-path: polygon(0% 25%,100% 17%,100% 100%,0 100%);
    align-items: center;
    background-color: black;
    z-index: 1;
  }

  &__bar{
    position: absolute;
    z-index: 9;
    left: -13px;
    top: 27%;
    transform: rotate(-18deg);

    
    @include respond-to(sm){
      left: -12vw;
      top: 26%;
    }



    img{
      height: 37vw;
      animation: bar 20s infinite linear;
      animation-direction: alternate;
      animation-delay: 0s;
      transition: 0.4s;


      @include respond-to(lg){
        height: 47vh;
      }
    }
  }
}

@keyframes imageMovePortfolio {
  0% {
    transform: scale(1.5) translateX(0px);
  }
  50% {
    transform: scale(1.5) translateX(-20px);       
  }
  to {
    transform: scale(1.5) translateX(0px); 
  }
}

@keyframes imageMovePortfolioDesktop {
  0% {
    transform: scale(1.15) translateX(0px); 

  }
  50% {
    transform: scale(1.15) translateX(-20px);      
  }
  to {
    transform: scale(1.15) translateX(0px);
  }
}

@keyframes bar {
  0% {
      transform: rotate(-5deg) translateY(-5px);        
  }
  50% {
    transform: rotate(-10deg) translateY(-10px);
  }
  to {
    transform: rotate(-5deg translateY(-5px));
  }
}

