.teammates-grid{

  &__inner{
    display: grid;
    grid-template-columns: 1fr;
    max-width: 1200px;

    @include respond-to(md){
      grid-template-columns: 1fr 1fr;
      column-gap: 142px;
    }
  }

  &__item{
    margin-bottom: 57px;
    position: relative;

    @include respond-to(md){
      margin-bottom: 108px;
    }



    img{
      height: 131vw;
      width: 100%;
      object-fit: cover;
      object-position: center;
      filter: grayscale(100%);
      transition: 0.4s;

      @include respond-to(md){
        height: 50vw;
        max-height: 730px;
      }

      @include respond-to(xl){
        height: 730px;
      }
    }

    h2{
      font-family: 'GT-America-Compressed-Black';
      font-weight: 900;
      font-size: 34px;
      margin-top: 44px;
      text-transform: uppercase;
      transition: 0.4s;

      @include respond-to(md){
        font-size: 44px;
      }
    }

    h3{
      margin-top: 14px;
      text-transform: uppercase;
      font-size: 12px;

      @include respond-to(md){
        font-size: 14px;
      }
    }

    @include hover{
      cursor: pointer;

      img{
        filter: grayscale(0%);
      }

      h2{
        color: $neon;
        letter-spacing: 0.1em;
      }
    }

    &:nth-of-type(odd){

      .teammates-grid__hidden{
        z-index: 99;
        top: 0;
        width: calc(100% + 40px );
        left: calc(0% - 20px);
      }

      @include respond-to(md){
        .teammates-grid__hidden{
          width: calc(100% + 200px);
          left: calc(100% + 40px);
        }
      }  
    }

    &:nth-of-type(even){

      .teammates-grid__hidden{
        z-index: 99;
         top: 0;
        width: calc(100% + 40px );
        left: calc(0% - 20px);
      }

      @include respond-to(md){
        .teammates-grid__hidden{
          width: calc(100% + 200px);
          left: calc(-100% + -240px);
        }
      }
    }
  }

  &__hidden{
    padding: 22px 20px;
    background-color: #1F1F1F;
    position: absolute;
    display: none;

    @include hover{
      cursor: default;
    }

    @include respond-to(md){
      padding: 51px;
    }

    &.active{
      display: block;
    }

    h4{
      max-width: 446px;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    svg:last-of-type{
      width: 18px;
      height: 17px;
    }

    svg{      
      margin-right: 20px;
      width: 18px;
      height: 14px;


      path{
        fill: white;
      }

      @include hover{
        path{
          fill: $neon;
        }
      }
    }
  }

  &__header{
    display: flex;
    justify-content: space-between;
  }
}

.js-close-logo{
  width: 22px !important;
  height: 22px !important;

  svg{
    transition: 0.4s;
  }


  @include hover{
    cursor: pointer;
    svg{
      transform: rotate(180deg);
    }
  }
}