// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face { 
  font-family: 'GT-America-Compressed-Black';
  src:  url('../fonts/GT-America-Compressed-Black.woff2') format('woff2');
}

@font-face { 
  font-family: 'GT-America-Standard-Bold';
  src:  url('../fonts/GT-America-Standard-Bold.woff2') format('woff2');
}

@font-face { 
  font-family: 'GT-America-Expanded-Black';
  src:  url('../fonts/GT-America-Expanded-Black.woff2') format('woff2');
}

@font-face { 
  font-family: 'GT-America-Standard-Regular';
  src:  url('../fonts/GT-America-Standard-Regular.woff2') format('woff2');
}